html {
	font-family: 'Open Sans', sans-serif;
	background: url(pattern.png);
}
main{
	background-color: #FFFDBA;
	width: 1250px;
	height: 500px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	
}

h1{
font-size: 50px;
font-family: Comic Sans MS, Comic Sans, cursive;
text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
body {
	width: 100%;
	margin: 0 auto;
	background-color: white;
	position: relative;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
} 
#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 1;
}

/* Add some content at the bottom of the video/page */
.content {
	position: fixed;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
	z-index: 2;
}

/* Style the button used to pause/play the video */
#myBtn {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
}

#myBtn:hover {
	background: #ddd;
	color: black;
}
#myBtnMute {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	right: 100px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
}
#myBtnMute:hover {
	background: #ddd;
	color: black;
}

.container {
	display: flex;
}
p{
	font-family: Comic Sans MS, Comic Sans, cursive; ;
}